@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
/* @import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background: linear-gradient(#CAFAFE, #4ca1af);
  font-family: "Poppins", sans-serif;
<<<<<<< HEAD
=======
  background: linear-gradient(rgb(128, 222, 234), black);
  /* color: black; */
>>>>>>> c6bd3c25e420e0d0e9591c774deb5c0dc6434a0f
  margin: 5px;
  padding: 5px;
}

.wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

@font-face {
  font-family: "Burtons";
  src: url(./assets/Burtons.otf);
}

/* Navbar */

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 0;
  color: teal;
  top: 0;
  z-index: 999;
  transition: all 0.3s ease;
  margin-bottom: 20px;
}

.first-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.first-nav img {
  width: 60px;
  height: 60px;
  object-fit: contain;
  border: 2px solid black;
  border-radius: 50%;
  cursor: pointer;
  align-items: center;
  display: flex;
}

.first-nav a {
  text-decoration: none;
  color: teal;
  font-size: 20px;
  font-weight: bold;
  transition: all 0.3s ease;
}

.first-nav a:hover {
  color: #ff00ff;
}

.second-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.title {
  font-family: "Burtons", sans-serif;
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 2px;
  color: black;
  text-decoration: none;
}

.second-nav button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background: teal;
  color: white;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
}

.second-nav button:hover {
  background: #ff00ff;
  color: cyan;
}

/* Header */

.header-quote {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 20px;
  color: teal;
}

/* Paintings and painting carousel*/

.slideshow-container {
  width: 85%;
  position: relative;
  margin: auto;
  margin-bottom: 20px;
}

.mySlides {
  display: none;
}

.mySlides img {
  width: 100%;
  height: 400px;
  object-fit: contain;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: teal;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: magenta;
  color: cyan;
}

.text {
  color: teal;
  font-size: 15px;
  padding: 8px 12px;
  position: relative;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.text a {
  color: teal;
  text-decoration: none;
  font-size: 16px;
}

.text a:hover {
  color: white;
  cursor: pointer;
}

.numbertext {
  color: teal;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 0.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* Main section */

.main-section {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
  margin-bottom: 20px;
}

.main-section-input {
  border: 2px solid teal;
  padding: 10px;
  gap: 10px;
}

/* Screens */
